*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
}

#conteudo-principal-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#conteudo-principal-home > section {
    display: flex;
    justify-content: space-between;
    width: 30vw;
}

#ola, #name{
    font-size: 4.5vw;
}

#ola{
    color: white;
    text-align: center;
}

#name{
    color: #037fff; 
}

#texto-home{
    margin: 2% 10%;
    text-align: center;
    font-size: 2.5vw;
}

#botao-enviar{
    background-color: #037fff;
    color: white;
    border: none;
    width: 10vw;
    height: 10%;
    align-self: flex-end;
    font-size: 1.8vw;
    border-radius: 20px;
    cursor: pointer;
}


#botao-enviar:hover{
    background-color: #085aac;
    color: white;
    border: none;
}

#grid-projetos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 0;
    row-gap: 2vw;
    column-gap: 2vw;
    margin: 2% auto;
    width: 95%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: transparent !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px #10121b inset !important;
    -webkit-text-fill-color: #FFF !important;
    }


.input-teste{
    background-color: transparent;
}


.redes-sociais{
    margin-top: 5%;
    cursor: pointer;
    width: 60%;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: none;
}

.tela-toda{
    width: 100vw;
    overflow-x: hidden;
    color: #99a0b7;
    background-color: #10121b;
    display: grid;
    grid-template-columns: 20% 80%;
}

.titulo-paginas{
    margin: 3% 0 2% 3%;
    font-size: 2.5vw;
    color: #e9ebf3;
    font-weight: bold;
}

.foto-projeto{
    width: 15vw;
    border-radius: 50%;
    border: solid 5px rgba(255, 255, 255, 0.849);
    box-shadow: 4px 4px 11px -3px rgba(0, 0, 0, 1);
}

.projeto{
    width: 100%;
    color: #c8ccda;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
}

.texto-projetos{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    margin-left: 3%;
}

.texto-projetos >p:first-of-type{
    font-size: 2vw;
}

.texto-projetos >p:last-of-type{
    margin-top: 2%;
    font-size: 1.5vw;
}

.texto-projetos > button{
    font-size: 1.3vw;
    background-color: transparent;
    border: none;
    color: #0756a5;
    cursor: pointer;
    margin: 3% 0;
}

.texto-projetos > button:hover{
    color: #037fff;
}

.cabecalho-projeto{
    display: flex;
    align-items: center;
    width: 96%;
    margin-top: 2%;
}

.descricao-projeto{
    font-size: 1.5vw;
    color: #c8ccda;
    text-align: justify;
}

.titulo-projeto{
    font-size: 2.5vw;
    color: #e9ebf3;
    font-weight: bold;
}

.cabecalho-projeto >section{
    margin-left: 2%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-links-detalhe{
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}

.links-detalhe{
    width: 5vw;
}